@use "app/_styles/abstract" as *;

@use "PacksTable";

.space-card {
  border: 1px solid $color-neutral-4;
  border-radius: 8px;

  > div {
    padding: 16px;
  }

  &__grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
