@use "app/_styles/abstract" as *;

.pack-travel-expenses {
  &__table-wrapper {
    max-width: 100%;
    overflow-y: auto;
  }

  &__table {
    border-collapse: collapse;

    th,
    td {
      padding: 0;
      border: 1px solid $color-neutral-4;
      text-align: left;
    }

    th {
      padding: 12px 16px;
      @include font-body-xs;
      color: $color-neutral-7;
    }

    td {
      .input-number {
        border: none;
        width: 8.5rem;

        input {
          @include font-body-s;
        }

        &__measure {
          @include font-body-s;
          padding: 6px;
        }
      }
    }
  }

  &__mobile {
    display: grid;
    grid-template-columns: max-content 12rem;

    &__name {
      padding: 0 16px;
      @include font-body-xs;
      color: $color-neutral-7;
      display: flex;
      align-items: center;
      min-height: 2.75rem;

      border: 1px solid $color-neutral-4;
      border-right: none;
      border-bottom: none;

      &--first {
        border-radius: 8px 0 0 0;
      }
    }

    &__value {
      border: 1px solid $color-neutral-4;
      border-left: none;
      border-bottom: none;

      &--first {
        border-radius: 0 8px 0 0;
      }

      .input-number {
        border: none;
      }
    }

    &__delete {
      grid-column: 1 / -1;
      border: 1px solid $color-neutral-4;
      border-radius: 0 0 8px 8px;
    }
  }

  &__disabled {
    background: $color-neutral-3;
    color: $color-neutral-6;
    @include font-body-s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

    .icon-svg {
      font-size: 1rem;
    }
  }

  @include mq(large) {
    &__disabled {
      height: 2.75rem;
      width: 8.5rem;
    }
  }
}
