@use "app/_styles/abstract" as *;

.onboarding__header {
  background: $color-neutral-0;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 16px;

  &__content {
    max-width: 79rem;
    margin: 0 auto;
    padding: 16px 24px;
  }

  @include mq(large) {
    padding-bottom: 32px;

    &__content {
      padding: 32px 24px;

      .button:first-of-type {
        display: inline-block;
      }
    }

    &__progress {
      max-width: 79rem;
      margin: 0 auto;
      padding: 0 24px;
    }
  }
}
