@use "app/_styles/abstract" as *;
@use "app/_styles/base/_utils" as utils;

.home-services {
  padding: 40px 0;
  background: $color-neutral-1;

  &__title,
  &__tabs,
  &__services {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__tabs,
  &__services {
    position: relative;
    overflow-x: auto;
    @include utils.hide-scrollbar;
  }

  &__services {
    margin-top: 1.5rem;
    padding-top: 3px;
    padding-bottom: 3px;

    display: flex;
    gap: 1.5rem;
    align-items: flex-start;

    > div {
      flex: 0 0 17.125rem;
    }
  }

  &__see-all {
    margin: 1.5rem auto 0;
    width: max-content;
  }

  @include mq(large) {
    padding: 100px 0;

    &__content {
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;
    }

    &__title {
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 2.5rem;
    }

    &__tabs-scrollable {
      position: relative;
      margin: 0 32px;
    }

    &__services {
      margin: 1rem 0 0;
      padding-left: 32px;
      padding-right: 32px;

      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }

    &__see-all {
      margin-top: 2rem;
    }
  }
}
