@use "app/_styles/abstract" as *;

.search-map-content {
  background: $color-neutral-3;
  position: relative;

  // Remove blue border on focus
  .gm-style iframe + div {
    border: none !important;
  }

  &__footer {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

.search-map-pin {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  height: 2rem;
  width: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .icon-svg {
    font-size: 2rem;
    color: $color-brand-primary;
    transition: color 100ms ease-in-out;
  }

  &:hover:not(&--selected),
  &:focus-visible:not(&--selected) {
    .icon-svg {
      color: $color-brand-primary-hover;
    }
  }

  &--selected {
    .icon-svg {
      color: $color-neutral-9;
    }
  }

  &--hovered {
    animation: hithere 1s ease;

    .icon-svg {
      color: $color-brand-primary-active;
    }
  }
}

.search-map-space {
  width: 100%;
  position: relative;

  &__link {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    color: inherit;

    border-radius: 8px;
    box-shadow: $elevation-1;
    background: $color-neutral-0;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &--withArrows {
      padding: 1rem 2rem;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--direction-left {
      left: 0;
    }

    &--direction-right {
      right: 0;
    }
  }

  &__photo {
    position: relative;
    height: 6.25rem;
    width: 6.25rem;
    min-width: 6.25rem;
    background-color: $color-neutral-6;
    border-radius: 8px;

    img {
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }
  }

  &__content {
    overflow: hidden;
  }

  &__title,
  &__location {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    @include font-action;
  }

  &__location {
    @include font-body-s;
    color: $color-neutral-6;
  }

  &__capacity {
    span {
      @include font-body-s;
    }
  }

  &__price {
    @include font-body-s;
  }
}

.search-map-filters {
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
}

@keyframes hithere {
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: rotate(-20deg) scale(1.2);
  }
  30% {
    transform: rotate(20deg) scale(1.2);
  }
  40% {
    transform: rotate(0deg) scale(1.2);
  }
  80% {
    transform: scale(1);
  }
}
