@use "app/_styles/abstract" as *;

.bookings-table {
  &__details {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, minmax(15rem, 30rem));
    align-items: flex-start;
    justify-items: flex-start;
  }

  &__card {
    border: 1px solid $color-neutral-4;
    border-radius: 8px;

    > div {
      padding: 16px;
    }

    &__grid {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    &__details {
      border-top: 1px solid $color-neutral-4;
    }

    button {
      align-self: flex-start;
    }
  }
}
