@use "app/_styles/abstract" as *;

.home-event-guide {
  padding: 40px 24px 0;

  @include mq(large) {
    padding: 100px 32px 0;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__intro,
  &__step-text,
  &__goodbye {
    @include font-body;
    color: $color-neutral-7;
  }

  &__step-title {
    @include font-h6;
    color: $color-neutral-7;
  }
}
