@use "app/_styles/abstract" as *;

.contact-request-page {
  padding: 0 24px;

  @include mq(large) {
    padding: 0 40px;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
  }

  @include mq-max(large) {
    * {
      scroll-margin-top: 100px;
    }
  }
}
