@use "app/_styles/abstract" as *;

.home-testimonials {
  $self: &;

  padding: 40px 0;
  background: $color-neutral-1;
  overflow: hidden;

  &__title {
    text-align: center;
    padding: 0 42px;
    margin-bottom: 2.5rem;
  }

  &__carousel {
    &__frame {
      width: 14.5rem;
      margin: 0 auto;
      display: grid;
      grid-template-areas: "main";
      position: relative;
    }

    &__item {
      grid-area: main;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      transition: all 500ms ease-in-out;

      &--selected {
        transform: translateX(0) scale(1);
        opacity: 1;

        #{$self}__testimonial {
          background-color: #ffff;
        }
      }

      &--beforePrevious,
      &--previous,
      &--next,
      &--afterNext {
        #{$self}__testimonial {
          background-color: #fff0;
        }
      }

      &--previous,
      &--next {
        opacity: 0.3;
      }

      &--beforePrevious,
      &--afterNext,
      &--hidden {
        opacity: 0;
      }

      &--beforePrevious {
        transform: translateX(calc(-200% - 6rem)) scale(0.9);
      }

      &--previous {
        transform: translateX(calc(-100% - 2rem)) scale(0.9);
      }

      &--next {
        transform: translateX(calc(100% + 2rem)) scale(0.9);
      }

      &--afterNext {
        transform: translateX(calc(200% + 6rem)) scale(0.9);
      }

      &--hidden {
        opacity: 0;
        transform: translateX(-500%) scale(0.9);
      }
    }

    &__arrow {
      position: absolute;
      top: 50%;
      font-size: 2rem;

      &--previous {
        left: -0.5rem;
        transform: translate(-100%, -50%);
      }

      &--next {
        right: -0.5rem;
        transform: translate(100%, -50%);
      }
    }
  }

  &__testimonial {
    transition: all 300ms ease-in-out;
    padding: 32px 16px 16px;
    border-radius: 8px;

    .icon-svg {
      font-size: 2rem;
      color: $color-brand-primary;

      &:last-child {
        align-self: flex-end;
        transform: rotate(180deg);
      }
    }

    &__text {
      @include font-body-s;
    }

    hr {
      border: none;
      border-top: 1px solid $color-neutral-5;
    }

    &__author {
      @include font-action-s;
    }
  }

  @include mq(large) {
    padding: 100px 0;

    &__carousel {
      &__frame {
        width: 39rem;
      }

      &__item {
        &--beforePrevious {
          transform: translateX(calc(-200% - 16rem)) scale(0.9);
        }

        &--previous {
          transform: translateX(calc(-100% - 8rem)) scale(0.9);
        }

        &--next {
          transform: translateX(calc(100% + 8rem)) scale(0.9);
        }

        &--afterNext {
          transform: translateX(calc(200% + 16rem)) scale(0.9);
        }
      }

      &__arrow {
        &--previous {
          left: -2.5rem;
        }

        &--next {
          right: -2.5rem;
        }
      }
    }
  }
}
