@use "app/_styles/abstract" as *;

@use "account";

.account-layout {
  padding: 0 24px 24px;

  @include mq(large) {
    padding: 0 40px 40px;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
  }
}
